body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #dceeff, #f0f8ff);
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0056b3;
    padding: 20px;
}

.logo-imp {
    height: 90px;
    display: block;
  }
  
.header .logo h1 {
    color: #fff;
}

.header .slogan {
    color: #cce6ff;
}

.menu a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.hero-section {
    background: #e6f2ff;
    padding: 50px 0;
}

.services-section .service-card {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.services-section .service-card:hover {
    transform: translateY(-5px);
}

.footer {
    background-color: #0077cc;
    color: #fff;
    padding: 20px;
}